/*------------------------------------------------------------
btn
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-button{
   // button 1
   // -------------------------------------------------------
   &-1{
      text-align: center;
      width: 100%;
      color:#fff;
      background-color: #da1109;
      border-radius: 3px;
      border:none;
      padding: 10px;
      cursor: pointer;
      font-weight: bold;
      display: block;
   }
}