/*------------------------------------------------------------
title
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-title{
   // title 1
   // -------------------------------------------------------
   &-1{
      border-left:3px solid #454545;
      font-size: 2rem;
      padding-left: 15px;
   }
}