/*------------------------------------------------------------
text
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-text{
   // text 1
   // -------------------------------------------------------
   &-1{
      &__img{
         float: right;
      }
   }
}