/*------------------------------------------------------------
list
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-list{
   // list 1
   // -------------------------------------------------------
   &-1{
      border:1px solid #ababab;

      &__item{
         &:not(:last-child){
            border-bottom:1px solid #ababab;
         }

         a{
            display: flex;
            padding: 10px;
            align-items: center;

            &:hover{
               .c-list-2__item-name{
                  text-decoration: none;
               }
            }
         }

         &-img{
            width: 97px;

            img{
               border:1px solid #e2e2e2;
            }
         }

         &-content{
            width: calc(100% - 97px);
            padding-left: 10px;
            padding-right: 30px;
            position: relative;

            &::after{
               content:"";
               width: 8px;
               height: 15px;
               background: url('/assets/img/common_sp/icon_arr.jpg') no-repeat;
               position: absolute;
               right: 0;
               top:50%;
               transform: translateX(-50%);
            }
         }

         &-name{
            text-decoration: underline;
            color:#4e99e3;
            font-weight:  normal;
         }
      }
   }
   // list 2
   // -------------------------------------------------------
   &-2{
      &__item{
         &:not(:last-child){
            border-bottom: 1px solid #e5e5e5;
         }

         a{
            display: flex;
            padding: 10px 20px 10px 15px;
            position: relative;
            align-items: center;

            &::after{
               content:"";
               width: 8px;
               height: 15px;
               background: url('/assets/img/common_sp/icon_arr.jpg') no-repeat;
               position: absolute;
               right: 10px;
               top:50%;
               transform: translateX(-50%);
            }
         }

         &-img{
            position: relative;
            width: 118px;
         }

         &-icon{
            position: absolute;
            color:#fff;
            font-size: 1.3rem;
            font-weight: bold;
            background-color: #ffc34a;
            width: 20px;
            height: 20px;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 0;
         }

         &-content{
            width: calc(100% - 118px);
            padding: 0 0 0 15px;
         }

         &-brand{
            color:#8a8a8a;
            font-size: 1.2rem;
         }

         &-name{

         }

         &-price{
            font-size: 2rem;
            font-weight: bold;

            span{
               font-size: 1.2rem;
               font-weight: normal;
               color:#989898;
            }
         }
      }
   }
}