.c-tab{
   &-1{
      overflow-x: scroll;

      &__tabs{
         background-color: #ddd;
         display: flex;
         width: 800px;
      }

      li{
         padding: 8px 0;

         &.active{
            background-color: #444;
            a{
               color:#fff;
               border:none;
            }
         }
      }

      a{
         display: block;
         padding: 0 16px;
         border-right: 1px solid #b2b2b2;
      }
   }
}