/*------------------------------------------------------------
other
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-select-1{
   // select
   // -------------------------------------------------------
   &__select{
      border: 1px solid #e2e2e2;
      background: transparent;
      width: 60px;
      height: 30px;
      border-radius: 3px;
      color:#626262;
   }
}

.c-other{
   // other 1
   // -------------------------------------------------------
   &-1{
      &__item{
         &-heading{
            display: table;
            background-color: #f1f1f1;
            padding: 10px;
            width: 100%;
            margin-bottom: 10px;
         }

         &-name{
            display: table-cell;
            vertical-align: middle;
            width: calc(100% - 27px);
            padding-right: 10px
         }

         &-icon{
            width: 27px;
            display: table-cell;
            vertical-align: middle;
         }

         &-content{
            margin-bottom: 10px;
            display: flex;

            li{
               display: flex;

               &:not(:last-child){
                  margin-bottom: 10px;
               }

               &:first-child{
                  margin-bottom: 15px;
               }
            }
         }

         &-img{
            width: 130px;
         }

         &-info{
            width: calc(100% - 130px);
            padding-left: 15px;

            li{
               margin-bottom: 0 !important;
            }
         }

         &-infoTit{
            min-width: 60px;
            color:#949494;
         }

         &-infoGprice{
            .c-other-1__item-infoTit{
               font-size: 1.6rem;
               padding-right: 30px;
            }
         }

         &-infoPrice{
            font-size: 1.6rem;
            color:#d90e06;
            font-weight: bold;

            span{
               font-weight: normal;
               font-size: 1.3rem;
               padding-left: 5px;
            }
         }

         &-infoChild{
            display: flex;
            width: 100%;

            li{
               width: 50%;
               &:not(:last-child){
                  padding-right: 15px;
               }
            }
         }

         &-desc{
            font-size: 1.3rem;
            margin-bottom: 10px;
         }
      }
   }
}