/*------------------------------------------------------------
breadcrumb
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-breadcrumb{
   margin-top: 23px;

   li{
      display: inline-block;
      position: relative;
      padding: 0 10px;

      &:not(:last-child){
         &::after{
            content:">";
            font-size: 1rem;
            position: absolute;
            right: -5px;
            top: 4px;
         }
      }
   }

   a{
      color: #006dd9;
      text-decoration: underline;

      &:hover{
         text-decoration: none;
      }
   }
}