/*------------------------------------------------------------
footer
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-footer{
   background-color: #222;
   color: #fff;
   margin-top: 90px;
   padding: 73px 0 68px;

   &__columns{
      @include clear;

      li{
         width: 33.333%;
         float: left;
      }
   }

   &__logo{
      margin-bottom: 20px;
      text-align: center;
   }

   &__txt{
      font-size: 1.6rem;
      margin-bottom: 55px;
   }

   &__wrapMenu{
      display: flex;
      margin-bottom: 51px;
   }

   &__menuLeft{
      width: 44.25%;
      display: flex;
      justify-content: center;

      li{
         padding: 0 10px;

         &:not(:last-child){
            border-right: 1px solid #fff;
         }
      }
   }

   &__menuRight{
      width: 55.75%;
      display: flex;
      justify-content: center;

      li{
         padding: 0 10px;

         &:not(:last-child){
            border-right: 1px solid #fff;
         }
      }

      .c-footer__frameLink{
         padding: 12px 84px;
         display: initial;
      }
   }

   &__frameLink{
      border:6px solid #fff;
      padding: 12px 18px;
      display: inline-block;
   }

   &__copyright{
      margin-top: 30px;
      text-align: center;
   }
}