/*------------------------------------------------------------
header
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-header{
   margin-top: 2px;
   border-top: 7px solid #000;
   padding: 38px 0 31px;

   .l-inner{
      position: relative;
   }

   &__logo{
      text-align: center;
   }

   &__cart{
      position: absolute;
      right: 0;
      bottom: -2px;
      border: 1px solid #ddd;
      border-radius: 5px;
      padding: 9px 9px 11px;
      font-size: 1.7rem;
      z-index: 5;

      a{
         &:before{
            content:"";
            width: 23px;
            height: 20px;
            background: url('/assets/img/common/icon_heart.jpg') no-repeat;
            display: inline-block;
            vertical-align: middle;
            margin-right: 6px;
         }
      }
   }
}