/*------------------------------------------------------------
layout
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.l-inner{
   width: 1548px;
   margin:0 auto;
}

.l-wrapper{
   @include clear;
}

.l-left{
   width: 68.66%;
   padding-right: 16px;
}

.l-right{
   width: 31.34%;
   padding-left: 16px;
}