///*------------------------------------------------------------
//Anchor position
//------------------------------------------------------------*/
//.u-anchor:before{
//	content:"";
//	margin-top: -100px;
//	padding-top: 100px;
//}
.u-text-link{
   text-decoration: underline;
   color: #006dd9;
   font-size: 1.8rem;

   &:hover{
      text-decoration: none;
   }
}
.u-center{
   text-align: center !important;
}