/*------------------------------------------------------------
btn
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-button{
   // Button 1
   // -------------------------------------------------------
   &-1{
      background-color: #ec3e41;
      border: 2px solid #ec3e41;
      color: #fff;
      font-size: 2rem;
      font-weight: bold;
      width: 302px;
      padding: 17px 10px 18px;
      border-radius: 7px;
      cursor: pointer;
      display: inline-block;
      text-align: center;
   }

   // Button 2
   // -------------------------------------------------------
   &-2{
      background-color: #f1f1f1;
      border: 2px solid #ddd;
      color: #888;
      font-size: 2rem;
      width: 302px;
      padding: 17px 10px 18px;
      border-radius: 7px;
      cursor: pointer;
      display: inline-block;
      text-align: center;
   }
}