/*------------------------------------------------------------
title
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-title{
   // title 1
   // -------------------------------------------------------
   &-1{
      font-size: 3rem;
      background-color: #eee;
      position: relative;
      padding: 10px 10px 21px 28px;

      &::before{
         content:"";
         width: 5px;
         position: absolute;
         height: 100%;
         left: 0;
         background-color: #444;
         top: 0;
      }
   }

   // title 2
   // -------------------------------------------------------
   &-2{
      font-size: 2rem;
      position: relative;
      padding: 7px 10px 12px 24px;
      font-weight: normal;

      &::before{
         content:"";
         width: 5px;
         position: absolute;
         height: 100%;
         left: 0;
         background-color: #444;
         top: 0;
      }
   }
}