/*------------------------------------------------------------
text
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-txt{
   // text 1
   // -------------------------------------------------------
   &-1{
      font-size: 1.7rem;

      span{
         font-weight: bold;

         &:first-child{
            color: #ec3e41;
         }
         &:last-child{
            padding-left: 15px;
         }
      }
   }
}