/*------------------------------------------------------------
navi
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-menu{
   background-color: #ebebeb;
   padding: 21px 0px;

   // ul
   // -------------------------------------------------------
   ul{
      display: flex;
      justify-content: space-between;
   }

   // item menu
   // -------------------------------------------------------
   li{
      display: inline-block;
   }

   a{
      font-size: 2.1rem;
   }
}

.c-pagi{
   ul{
      display: flex;
      justify-content: center;
   }

   // button prev
   // -------------------------------------------------------
   &__prev{
      a{
         font-weight: bold;
      }
   }

   // button next
   // -------------------------------------------------------
   &__next{
      a{
         font-weight: bold;
      }
   }

   li{
      padding: 0 7.5px;
   }

   a, span{
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #c9c9c9;
      width: 60px;
      height: 60px;
      color: #7e7e7e;
      border-radius: 13px;

      &:hover{
         color: #fff;
         background-color: #c9c9c9;
      }
   }

   // button active
   // -------------------------------------------------------
   &__active{
      span{
         color: #fff;
         background-color: #c9c9c9;
      }
   }

   // button dot
   // -------------------------------------------------------
   &__dot{
      span{
         border:none;

         &:hover{
            color: #333;
            background-color: transparent;
         }
      }
   }

   &__prev, &__next{
      a{
         background-color: #fafafa;
      }
   }
}