/*------------------------------------------------------------
list
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-list{
   // list 1
   // -------------------------------------------------------
   &-1{
      border: 1px solid #ddd;

      li{
         &:not(:last-child){
            border-bottom: 1px solid #ddd;
         }
      }

      a{
         display: block;
         @include clear;

         &:hover {
            .c-list-1__desc{
               text-decoration: underline;
            }
         }
      }

      // image
      // -------------------------------------------------------
      &__img{
         width: 110px;
         float: left;
      }

      // content
      // -------------------------------------------------------
      &__content{
         width: calc(100% - 110px);
         float: left;
         padding: 15px 14px 17px;
      }
   }

   // list 2
   // -------------------------------------------------------
   &-2{
      @include clear;
      margin: 0 -23px;

      li{
         width: 50%;
         float: left;
         padding: 0 23px;
      }

      // frame
      // -------------------------------------------------------
      &__frame{
         @include clear;
         border: 1px solid #dedede;
         display: block;

         &:hover{
            .c-list-2__desc{
               text-decoration: underline;
            }
         }
      }

      // image
      // -------------------------------------------------------
      &__img{
         width: 225px;
         float: left;
      }

      // content
      // -------------------------------------------------------
      &__content{
         width: calc(100% - 225px);
         float: left;
         padding: 17px 16px;
         font-size: 1.6rem;
      }
   }

   // list 3
   // -------------------------------------------------------
   &-3{
      @include clear;
      border: 1px solid #e1e1e1;

      li{
         width: 14.28%;
         float: left;

         &:not(:last-child){
            border-right: 1px solid #e1e1e1;
         }
      }

      // frame
      // -------------------------------------------------------
      &__frame{
         display: block;
         @include clear;
      }

      // image
      // -------------------------------------------------------
      &__img{
         margin-bottom: 25px;
         position: relative;
      }

      // icon
      // -------------------------------------------------------
      &__icon{
         position: absolute;
         font-size: 2rem;
         color: #fff;
         font-weight: bold;
         background-color: #ffc34a;
         width: 38px;
         height: 38px;
         display: flex;
         justify-content: center;
         align-items: center;
         border-radius: 100%;
         top:20px;
         left: 5px;
      }

      // content
      // -------------------------------------------------------
      &__content{
         padding: 0 30px 10px;
         background-color: #fff;
      }

      // style
      // -------------------------------------------------------
      &__style{
         color: #aeaeae;
         font-size: 1.1rem;
         display: block;
      }

      // name
      // -------------------------------------------------------
      &__name{
         font-size: 2.1rem;
         margin-bottom: 5px;
      }

      // price
      // -------------------------------------------------------
      &__price{
         font-size: 2.1rem;
         font-weight: bold;

         span{
            font-size: 1.4rem;
            color: #919191;
         }
      }
   }
}