/*------------------------------------------------------------
list
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-tab{
   // tab 1
   // -------------------------------------------------------
   &-1{
      background-color: #333;
      position: relative;
      padding: 23px 30px 0px;
      // tab
      // -------------------------------------------------------
      &__tab{
         @include clear;

         li{
            float: left;
            padding-right:15px;

            &.active{
               a{
                  background-color: #fff;
                  color: #333;
                  font-weight: bold;
               }
            }
         }

         a{
            color: #fff;
            background-color: #999;
            display: block;
            padding: 13px 10px;
            font-size: 1.6rem;
            font-weight: normal;
            width: 196px;
            text-align: center;
         }
      }
      // count box
      // -------------------------------------------------------
      &__countBox{
         position: absolute;
         right: 16px;
         bottom: 11px;
         color: #fff;

         > span{
            display: inline-block;
            font-size: 1.7rem;
            padding-right: 14px;
         }

         &--list{
            display: inline-block;
         }

         li{
            display: inline-block;

            &:not(:last-child){
               padding-right: 26px;
            }

            &.active{
               span{
                  display: flex;
                  width: 38px;
                  height: 39px;
                  justify-content: center;
                  align-items: center;
                  background-color: #fff;
                  color: #333;
                  border-radius: 3px;
               }
            }
         }
      }
   }
   // tab 2
   // -------------------------------------------------------
   &-2{
      overflow-x: scroll;
      //  wrap list
      // -------------------------------------------------------
      &__list{
         background-color: #ddd;
         @include clear;
         width: 1500px;
      }

      li{
         padding: 11px 0;
         float: left;

         &.active{
            background-color: #333;

            a{
               color: #fff;
               border:none !important;
            }
         }

         &:not(:last-child){
            a{
               border-right: 1px solid #a2a2a2;
            }
         }
      }

      a{
         font-size: 2rem;
         padding: 0 25px;
      }
   }
}