/*------------------------------------------------------------
other
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
// select
// -------------------------------------------------------
.c-select{
   height: 45px;

   select{
      background: transparent;
      border: 1px solid #cdd6dd;
      font-size: 1.7rem;
      height: 45px;
      width: 166px;
      padding: 5px 16px;
      color: #9f9f9f;
   }
}

// checkbox
// -------------------------------------------------------
.c-checkbox{
   display: block;
   position: relative;
   padding-left: 40px;
   cursor: pointer;
   font-size: 1.8rem;
   user-select: none;
   color: #808080;

   input{
      position: absolute;
      opacity: 0;
      cursor: pointer;

      &:checked ~ .c-checkbox__mark{
         &:after{
            display: block;
         }
      }
   }
   // mark
   // -------------------------------------------------------
   &__mark{
      position: absolute;
      top: 0;
      left: 0;
      height: 33px;
      width: 33px;
      border:1px solid #cdd6dd;

      &:after{
         content:"";
         display: none;
         left: 11px;
         top: 8px;
         width: 6px;
         height: 11px;
         border: solid #959ea7;
         border-width: 0 2px 2px 0;
         transform: rotate(45deg);
         position: absolute;
      }
   }
}
// Radio box
// -------------------------------------------------------
.c-radiobox{
   display: block;
   position: relative;
   padding-left: 41px;
   cursor: pointer;
   font-size: 1.8rem;
   user-select: none;
   color: #808080;

   input{
      position: absolute;
      opacity: 0;
      cursor: pointer;

      &:checked ~ .c-radiobox__mark{
         &:after{
            display: block;
         }
      }
   }

   &__mark{
      position: absolute;
      top: 50%;
      left: 0;
      height: 25px;
      width: 25px;
      border: 1px solid #cdd6dd;
      border-radius: 100%;
      transform: translateY(-50%);

      &:after{
         content:"";
         top: 8px;
         left: 8px;
         width: 7px;
         height: 7px;
         border-radius: 50%;
         background: #3b4043;
         position: absolute;
         display: none;
      }
   }
}
// Label link
// -------------------------------------------------------
.c-link-label{
   color: #808080;
   font-size: 1.7rem;
   border: 1px solid #d5dce2;
   background-color: #f5f5f5;
   display: inline-block;
   min-width: 165px;
   padding: 7px 10px;
   text-align: center;
}

.c-other{
   // other 1
   // -------------------------------------------------------
   &-1{
      &__item{
         @include clear;
         border-top:3px solid #dfdfdf;
         border-bottom: 3px solid #dfdfdf;
         padding: 25px 0;

         &:not(:last-child){
            margin-bottom: 30px;
         }
      }
      // intro
      // -------------------------------------------------------
      &__intro{
         width: 57.1%;
         float: left;
         padding-right: 42px;

         // img
         // -------------------------------------------------------
         &--img{
            width: 273px;
            float: left;
            padding-right: 15px;
         }

         // content
         // -------------------------------------------------------
         &--content{
            width: calc(100% - 273px);
            float: left;
            padding-left: 15px;
         }

         // brand
         // -------------------------------------------------------
         &--brand{
            font-size: 1.6rem;
            margin-bottom: 14px;
         }

         // name
         // -------------------------------------------------------
         &--name{
            color: #006dd9;
            font-size: 2.3rem;
            margin-bottom: 10px;
         }

         // desc
         // -------------------------------------------------------
         &--desc{
            font-size: 1.6rem;
         }

         // list navi
         // -------------------------------------------------------
         &--listNavi{
            margin-bottom: 20px;

            li{
               display: inline-block;
               border-right: 1px solid #e7e7e7;
               padding: 0 15px;

               &:first-child{
                  padding-left: 0;
               }
            }
         }

         // list price
         // -------------------------------------------------------
         &--listPrice{
            li{
               display: inline-block;

               &:not(:last-child){
                  padding-right: 85px;
               }
            }
         }

         // title price
         // -------------------------------------------------------
         &--titPrice{
            font-size: 1.6rem;
            font-weight: bold;
            margin-bottom: 8px;
         }

         // price
         // -------------------------------------------------------
         &--price{
            font-size: 3.2rem;
            font-weight: bold;
            color: #da1109;

            span{
               font-size: 1.5rem;
               color: #333;
               padding-left: 9px;
            }
         }
      }
      // param
      // -------------------------------------------------------
      &__param{
         width: 42.9%;
         float: left;
         padding-left: 42px;
         // list
         // -------------------------------------------------------
         &--lists{
            display: flex;
            justify-content: flex-end;
            margin-bottom: 28px;

            li{
               display: flex;
               align-items: flex-start;
               flex-wrap: wrap;
            }
         }
         // name
         // -------------------------------------------------------
         &--name{
            font-size: 1.6rem;
            color: #888;
            display: block;
            text-align: center;
            width: 100%;
            margin-bottom: 1px;
         }
         // number
         // -------------------------------------------------------
         &--number{
            display: block;
            width: 100%;
            text-align: center;
            font-weight: bold;
            font-size: 2rem;
         }
         // character
         // -------------------------------------------------------
         &--character{
            display: block;
            width: 100%;
            text-align: center;
            font-size: 1.6rem;
         }
         // address
         // -------------------------------------------------------
         &--address{
            .c-list-5__param--character{
               margin-top: -25px;
            }
         }
         // txt
         // -------------------------------------------------------
         &--txt{
            margin-bottom: 26px;

            span{
               font-size: 1.5rem;
               background-color: #ddd;
               padding: 5px 25px;
               display: inline-block;
               margin-right: 17px;
            }
         }
         // buttons
         // -------------------------------------------------------
         &--buttons{
            display: flex;

            a{
               width: 50%;
               padding: 12px 10px;

               &:not(:last-child){
                  margin-right: 14px;
               }
            }
         }
      }
   }
}