/*------------------------------------------------------------
footer
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-footer{
   &__top{
      display: flex;
      flex-wrap: wrap;
      border:1px solid #ccc;

      li{
         width: 50%;
         border-right:1px solid #ccc;
         border-bottom:1px solid #ccc;

         &:nth-child(2n){
            border-right:none
         }
      }

      a{
         text-align: center;
         display: block;
         background-color: #ddd;
         color:#5e5e5e;
         padding: 7px 10px;
      }
   }

   &__bot{
      background-color: #222;
      text-align: center;
      color:#fff;
      padding: 20px 10px 11px;
      margin-top: -1px;

      &-logo{
         margin-bottom: 30px;
      }

      &-txt{
         font-size: 1.2rem;
         margin-bottom: 20px;
      }

      &-copyright{
         font-size: 1.2rem;
      }
   }
}