/*------------------------------------------------------------
header
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-header{
   background-color: rgba(255, 255, 255, 0.5);
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 10px;

   &__menu{
      text-align: center;

      &-icon{
         width: 18px;
         height: 14px;
         display: inline-block;
         position: relative;

         i{
            width: 100%;
            height: 2px;
            background-color: #444;
            display: block;

            &:not(:last-child){
               margin-bottom: 4px;
            }

            &:first-child{

            }

            &:last-child{

            }
         }
      }

      &-txt{
         font-size: 1rem;
         color:#888;
      }
   }

   &__logo{
      text-align: center;

      span{
         display: block;
         font-size: 1.2rem;
         color:#888;
         font-weight: normal;
      }
   }

   &__wishlist{
      text-align: center;

      span{
         display: block;
         font-size: 1.2rem;
         color:#888;
         font-weight: normal;
      }
   }
}