@charset "UTF-8";
/*------------------------------------------------------------
	Reset
------------------------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
nav,
section,
time,
mark,
audio,
video {
  font-size: 1em;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block; }

html {
  font-size: 62.5%; }

body {
  -webkit-text-size-adjust: 100%; }

body,
table,
input,
textarea,
select,
option,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold; }

table,
input,
textarea,
select,
option {
  line-height: 1.1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }
  a:hover, a:active, a:focus {
    outline: 0; }

a:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)"; }

form label {
  cursor: pointer; }

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%; }

iframe {
  vertical-align: middle;
  width: 100%; }

button {
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
  outline: none; }

form img, input, select {
  vertical-align: middle; }

object, embed {
  height: 100%; }

embed {
  width: 100%; }

/*------------------------------------------------------------
for develop
------------------------------------------------------------*/
#__bs_notify__ {
  opacity: 0.3 !important;
  font-size: 5px !important;
  line-height: 100% !important;
  padding: 0 5px 0 5px !important;
  border-radius: 0 !important; }

.c-dev-title1 {
  background: #000;
  color: #fff;
  line-height: 1;
  padding: 6px 0 6px 15px;
  font-size: 1.6rem;
  margin: 60px 0 20px 0; }

.c-dev-title2 {
  background: #888;
  color: #fff;
  line-height: 1;
  padding: 6px 0 6px 30px;
  font-size: 1.3rem;
  margin: 50px 0 10px 0; }

.c-dev-message1 {
  top: 0;
  left: 0;
  background: #f00;
  color: #fff;
  z-index: 9999;
  position: fixed;
  line-height: 1;
  padding: 3px 6px;
  opacity: 0.6;
  font-size: 8px; }

body {
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: 1.4rem;
  overflow-x: hidden;
  color: #333; }

@media (min-width: 768px) {
  .sp-only {
    display: none; } }

@media screen and (max-width: 767px) {
  .pc-only {
    display: none; }
  img {
    max-width: 100%;
    height: auto; } }

/*------------------------------------------------------------
breadcrumb
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
footer
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-footer__top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  border: 1px solid #ccc; }
  .c-footer__top li {
    width: 50%;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc; }
    .c-footer__top li:nth-child(2n) {
      border-right: none; }
  .c-footer__top a {
    text-align: center;
    display: block;
    background-color: #ddd;
    color: #5e5e5e;
    padding: 7px 10px; }

.c-footer__bot {
  background-color: #222;
  text-align: center;
  color: #fff;
  padding: 20px 10px 11px;
  margin-top: -1px; }
  .c-footer__bot-logo {
    margin-bottom: 30px; }
  .c-footer__bot-txt {
    font-size: 1.2rem;
    margin-bottom: 20px; }
  .c-footer__bot-copyright {
    font-size: 1.2rem; }

/*------------------------------------------------------------
header
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-header {
  background-color: rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10px; }
  .c-header__menu {
    text-align: center; }
    .c-header__menu-icon {
      width: 18px;
      height: 14px;
      display: inline-block;
      position: relative; }
      .c-header__menu-icon i {
        width: 100%;
        height: 2px;
        background-color: #444;
        display: block; }
        .c-header__menu-icon i:not(:last-child) {
          margin-bottom: 4px; }
    .c-header__menu-txt {
      font-size: 1rem;
      color: #888; }
  .c-header__logo {
    text-align: center; }
    .c-header__logo span {
      display: block;
      font-size: 1.2rem;
      color: #888;
      font-weight: normal; }
  .c-header__wishlist {
    text-align: center; }
    .c-header__wishlist span {
      display: block;
      font-size: 1.2rem;
      color: #888;
      font-weight: normal; }

/*------------------------------------------------------------
layout
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
side
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
btn
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-button-1 {
  text-align: center;
  width: 100%;
  color: #fff;
  background-color: #da1109;
  border-radius: 3px;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  display: block; }

/*------------------------------------------------------------
title
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-title-1 {
  border-left: 3px solid #454545;
  font-size: 2rem;
  padding-left: 15px; }

/*------------------------------------------------------------
icon
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
form
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
text
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-text-1__img {
  float: right; }

/*------------------------------------------------------------
navi
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-pagi ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.c-pagi__prev a {
  font-weight: bold; }

.c-pagi__next a {
  font-weight: bold; }

.c-pagi li {
  padding: 0 7.5px; }

.c-pagi a, .c-pagi span {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #c9c9c9;
  width: 35px;
  height: 35px;
  color: #7e7e7e;
  border-radius: 7px; }
  .c-pagi a:hover, .c-pagi span:hover {
    color: #fff;
    background-color: #c9c9c9; }

.c-pagi__active span {
  color: #fff;
  background-color: #c9c9c9; }

.c-pagi__dot span {
  border: none; }
  .c-pagi__dot span:hover {
    color: #333;
    background-color: transparent; }

.c-pagi__prev a, .c-pagi__next a {
  background-color: #fafafa; }

/*------------------------------------------------------------
img
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
list
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-list-1 {
  border: 1px solid #ababab; }
  .c-list-1__item:not(:last-child) {
    border-bottom: 1px solid #ababab; }
  .c-list-1__item a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .c-list-1__item a:hover .c-list-2__item-name {
      text-decoration: none; }
  .c-list-1__item-img {
    width: 97px; }
    .c-list-1__item-img img {
      border: 1px solid #e2e2e2; }
  .c-list-1__item-content {
    width: calc(100% - 97px);
    padding-left: 10px;
    padding-right: 30px;
    position: relative; }
    .c-list-1__item-content::after {
      content: "";
      width: 8px;
      height: 15px;
      background: url("/assets/img/common_sp/icon_arr.jpg") no-repeat;
      position: absolute;
      right: 0;
      top: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%); }
  .c-list-1__item-name {
    text-decoration: underline;
    color: #4e99e3;
    font-weight: normal; }

.c-list-2__item:not(:last-child) {
  border-bottom: 1px solid #e5e5e5; }

.c-list-2__item a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 20px 10px 15px;
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .c-list-2__item a::after {
    content: "";
    width: 8px;
    height: 15px;
    background: url("/assets/img/common_sp/icon_arr.jpg") no-repeat;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }

.c-list-2__item-img {
  position: relative;
  width: 118px; }

.c-list-2__item-icon {
  position: absolute;
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: #ffc34a;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0; }

.c-list-2__item-content {
  width: calc(100% - 118px);
  padding: 0 0 0 15px; }

.c-list-2__item-brand {
  color: #8a8a8a;
  font-size: 1.2rem; }

.c-list-2__item-price {
  font-size: 2rem;
  font-weight: bold; }
  .c-list-2__item-price span {
    font-size: 1.2rem;
    font-weight: normal;
    color: #989898; }

/*------------------------------------------------------------
table
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
line
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
video
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
video
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-tab-1 {
  overflow-x: scroll; }
  .c-tab-1__tabs {
    background-color: #ddd;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 800px; }
  .c-tab-1 li {
    padding: 8px 0; }
    .c-tab-1 li.active {
      background-color: #444; }
      .c-tab-1 li.active a {
        color: #fff;
        border: none; }
  .c-tab-1 a {
    display: block;
    padding: 0 16px;
    border-right: 1px solid #b2b2b2; }

/*------------------------------------------------------------
other
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-select-1__select {
  border: 1px solid #e2e2e2;
  background: transparent;
  width: 60px;
  height: 30px;
  border-radius: 3px;
  color: #626262; }

.c-other-1__item-heading {
  display: table;
  background-color: #f1f1f1;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px; }

.c-other-1__item-name {
  display: table-cell;
  vertical-align: middle;
  width: calc(100% - 27px);
  padding-right: 10px; }

.c-other-1__item-icon {
  width: 27px;
  display: table-cell;
  vertical-align: middle; }

.c-other-1__item-content {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .c-other-1__item-content li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .c-other-1__item-content li:not(:last-child) {
      margin-bottom: 10px; }
    .c-other-1__item-content li:first-child {
      margin-bottom: 15px; }

.c-other-1__item-img {
  width: 130px; }

.c-other-1__item-info {
  width: calc(100% - 130px);
  padding-left: 15px; }
  .c-other-1__item-info li {
    margin-bottom: 0 !important; }

.c-other-1__item-infoTit {
  min-width: 60px;
  color: #949494; }

.c-other-1__item-infoGprice .c-other-1__item-infoTit {
  font-size: 1.6rem;
  padding-right: 30px; }

.c-other-1__item-infoPrice {
  font-size: 1.6rem;
  color: #d90e06;
  font-weight: bold; }
  .c-other-1__item-infoPrice span {
    font-weight: normal;
    font-size: 1.3rem;
    padding-left: 5px; }

.c-other-1__item-infoChild {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }
  .c-other-1__item-infoChild li {
    width: 50%; }
    .c-other-1__item-infoChild li:not(:last-child) {
      padding-right: 15px; }

.c-other-1__item-desc {
  font-size: 1.3rem;
  margin-bottom: 10px; }

.u-text-link {
  text-decoration: underline;
  color: #006dd9;
  font-size: 1.8rem; }
  .u-text-link:hover {
    text-decoration: none; }

.u-center {
  text-align: center !important; }
