.p{
   &-home{
      &-1{
         margin-bottom: 45px;
      }

      &-2{
         @include clear;

         &__wrap{
            margin: 0 -15px 36px;
         }

         &__box{
            width: 50%;
            float: left;
            padding: 0 15px;

            &-title{
               margin-bottom: 23px;
            }

            &-list{
               border: 1px solid #ccc;
               padding: 28px 0 27px;
               @include clear;

               li{
                  width: 25%;
                  padding: 0 28px;
                  float: left;
                  text-align: center;
                  margin-bottom: 20px;

                  &:nth-last-child(-n+4):nth-child(1n + 1),
                  &:nth-last-child(-n + 4):nth-child(2n + 1) ~ li {
                     margin-bottom: 0px;
                  }
               }
            }

            &-img{
               margin-bottom: 5px;
            }

            &-name{
               font-size: 1.7rem;
               margin-bottom: 5px;
            }

            &-times{
               color: #aaa;
               font-size:1.2rem;
            }
         }

         &__txt{
            clear: both;
            text-align: right;
            margin-right: 15px;
            padding-top: 14px;
         }
      }

      &-3{
         .l-inner{
            @include clear;
         }

         .l-left, .l-right{
            @include left;
         }

         &-1{
            &-1{
               margin-bottom: 78px;

               .c-title-1{
                  margin-bottom: 16px;
               }

               &__list{
                  @include clear;
                  border:1px solid #ddd;
                  margin-bottom: 13px;
               }

               li{
                  width: 16.66%;
                  float: left;
                  border-right: 1px solid #ddd;
                  border-bottom: 1px solid #ddd;
                  padding: 12px 14px;
                  text-align: center;

                  &:nth-child(7n-1){
                     border-right:none
                  }

                  &:nth-last-child(-n+6):nth-child(1n + 1),
                  &:nth-last-child(-n + 6):nth-child(2n + 1) ~ li {
                     border-bottom:  none;
                  }
               }

               &__img{
                  margin-bottom: 7px;
               }

               &__name{
                  margin-bottom: 4px;
                  font-size: 1.8rem;
               }

               &__times{
                  color: #aaa;
                  font-size:1.2rem;
               }

               &__txt{
                  text-align: right;
               }
            }

            &-2{
               margin-bottom: 50px;

               .c-title-1{
                  margin-bottom: 50px;
               }

               &__content{
                  @include clear;
               }

               &__list{
                  width: 50%;
                  float: left;
               }

               &__listLeft{
                  padding: 0 44px 0 18px;
               }

               &__listRight{
                  padding: 0 10px 0 44px;
               }

               &__item{
                  font-size: 1.8rem;
                  display: table;
                  width: 100%;

                  &:not(:last-child){
                     margin-bottom: 17px;
                  }
               }

               &__label{
                  display: table-cell;
                  vertical-align: top;
                  width: 110px;
               }

               &__listChild{
                  display: table-cell;
                  vertical-align: top;
                  width: calc(100% - 110px);

                  li{
                     display: inline-block;

                     &:not(:last-child){
                        padding-right: 14px;
                     }

                     a{
                        color: #2672aa;
                     }
                  }
               }
            }

            &-3{
               margin-bottom: 80px;

               .c-title-1{
                  margin-bottom: 30px;
               }

               &__columns{
                  @include clear;
                  margin: 0 -15px;
               }

               &__item{
                  width: 33.333%;
                  float: left;
                  padding: 0 15px;
               }

               &__border{
                  border: 1px solid #ddd;
                  padding: 30px;
               }

               &__name{
                  margin-bottom: 35px;
                  font-size: 1.8rem;
               }

               &__list{
                  li{
                     font-size: 1.5rem;

                     &:not(:last-child){
                        margin-bottom: 12px;
                     }
                  }
               }
            }

            &-4{
               margin-bottom: 77px;

               .c-title-1{
                  margin-bottom: 39px;
               }

               &__tabContent{
                  display: none;

                  &.active{
                     display: block;
                  }
               }
            }

            &-5{
               margin-bottom: 76px;

               .c-title-1{
                  margin-bottom: 40px;
               }

               &__tabContent{
                  display: none;

                  &.active{
                     display: block;
                  }
               }

               &__slide{
                  border: 1px solid #e1e1e1;
               }

               li{
                  &:not(:last-child){
                     border-right: 1px solid #e1e1e1;
                  }
               }

               &__frame{
                  display: block;
               }

               &__pd{
                  padding: 14px;
               }

               &__img{
                  margin-bottom: 11px;
               }

               &__name{
                  font-size: 1.6rem;
                  margin-bottom: 24px;
               }

               &__gPrice{
                  border-top: 1px dotted #e1e1e1;
                  display: table;
                  width: 100%;

                  li{
                     display: table-cell;
                     vertical-align: middle;
                     padding: 5px 5px 29px;

                     &:not(:last-child){
                        border-right: 1px dotted #e1e1e1;
                     }

                     &:last-child{
                        .p-home-3-1-5__gPrice-price{
                           color: #da1109;
                        }
                     }
                  }

                  &-title{
                     font-size: 1.2rem;
                     color: #444;
                     margin-bottom: 15px;
                  }

                  &-price{
                     font-size: 2.1rem;
                     font-weight: bold;
                     text-align: center;

                     span{
                        font-size: 1.2rem;
                        font-weight: normal;
                        padding-left: 3px;
                        color:#333;
                     }
                  }
               }
            }

            &-6{
               margin-bottom: 60px;

               .c-title-1{
                  margin-bottom: 45px;
               }

               .c-list-2{
                  margin: 0 -8px;

                  li{
                     padding: 0 8px;
                     margin-bottom: 16px;
                  }
               }
            }

            &-7{
               .c-title-1{
                  margin-bottom: 46px;
               }

               .c-title-2{
                  margin-bottom: 14px;
               }

               &__blockTxt{

                  &:not(:last-child){
                     margin-bottom: 63px;
                  }
               }

               &__txt{
                  font-size: 1.6rem;
               }
            }
         }

         &-2{
            &-1{
               margin-bottom: 45px;
            }

            &-2{
               margin-bottom: 46px;

               .c-title-2{
                  margin-bottom: 15px;
               }
            }

            &-3{
               margin-bottom: 45px;
            }

            &-4{
               margin-bottom: 25px;

               .c-title-2{
                  margin-bottom: 15px;
               }
            }
         }
      }
   }
}