.page-page5{
   .c-breadcrumb{
      margin-bottom: 42px;
   }
}

.p{
   &-page-5{
      &__title{
         font-size: 3rem;
         margin-bottom: 25px;

         span{
            font-size: 2.4rem;
         }
      }

      &-1{
         margin-bottom: 38px;

         &__filter{
            border: 1px solid #ddd;
         }

         &__title{
            background-color: #f6f6f6;
            padding: 10px 29px 22px;
            font-size: 2.7rem;
            border-bottom: 1px solid #ddd;
         }

         &__rowHead{
            padding: 29px;
            border-bottom: 1px solid #ddd;
            display: flex;

            li{
               display: table;

               &:not(:last-child){
                  padding-right: 77px;
               }
            }

            &-title{
               font-size: 2rem;
               font-weight: bold;
               display: table-cell;
               vertical-align: middle;
            }

            .c-select{
               display: table-cell;
               vertical-align: middle;

               select{
                  height: 60px;
                  padding: 10px 29px;
               }
            }

            &-select{
               &1{
                  padding-left: 40px;

                  select{
                     width: 196px;
                  }
               }

               &2{
                  padding-left: 37px;

                  select{
                     width: 378px;
                  }
               }

               &3{
                  padding-left: 29px;

                  select{
                     width: 317px;
                  }
               }
            }
         }

         &__rowMid{
            border-bottom: 1px solid #ddd;
            padding: 30px 29px 28px;
            display: table;
            width: 100%;

            &-left{
               width: 37.4%;
               display: table-cell;
               vertical-align: top;
               border-right:1px dotted #ddd;
               padding-right: 30px;
            }

            &-right{
               width: 62.6%;
               display: table-cell;
               vertical-align: top;
               padding-left: 29px;
            }

            &-leftItem{
               display: table;
               width: 100%;

               &:not(:last-child){
                  margin-bottom: 31px;
               }

               &:first-child{
                  .p-page-5-1__rowMid-title{
                     vertical-align: top;
                     padding-top: 5px;
                  }
               }
            }

            &-title{
               font-size: 1.8rem;
               font-weight: bold;
               width: 136px;
               display: table-cell;
               vertical-align: middle;
            }

            &-content{
               width: calc(100% - 136px);
               display: table-cell;
               vertical-align: middle;
            }

            &-list{
               li{
                  display: flex;
                  align-items: center;
                  margin-bottom: 7px;

                  &:first-child{
                     margin-bottom: 15px;
                  }
               }
            }

            &-dbSeclect{
               display: flex;
               align-items: center;
            }

            &-icon{
               font-size: 3rem;
               line-height: 0;
               padding: 0 16px;
            }

            &-radio1{
               &:not(:last-child){
                  margin-right: 100px;
               }
            }

            &-rightItem{
               &:not(:last-child){
                  margin-bottom: 30px;
               }

               &:last-child{
                  .p-page-5-1__rowMid-title{
                     vertical-align: top;
                     padding-top: 5px;
                  }
               }
            }

            &-gRadio{
               display: flex;
               align-items: center;
               padding-left: 8px;
            }

            &-radio2{
               &:not(:last-child){
                  margin-right: 23px;
               }

               &:first-child{
                  margin-right: 47px;
               }
            }

            &-colors{
               display: flex;
               padding-left: 4px;

               li{
                  padding: 0 4px;

                  &.active{
                     span{
                        &::before{
                           content: "";
                           border: 3px solid #ff0000;
                           background-color: transparent;
                           position: absolute;
                           width: 32px;
                           height: 32px;
                           left: -5px;
                           top: -5px;
                        }
                     }
                  }
               }
            }

            &-color{
               border:1px solid #cdd6dd;
               width: 30px;
               height: 30px;
               display: inline-block;
               position: relative;

               &1{
                  background-color: #fff;
               }

               &2{
                  background-color: #888888;
               }

               &3{
                  background-color: #000000;
               }

               &4{
                  background-color: #d9bcaa;
               }

               &5{
                  background-color: #ff3333;
               }

               &6{
                  background-color: #ff57cd;
               }

               &7{
                  background-color: #4d59ff;
               }

               &8{
                  background-color: #2b27a2;
               }

               &9{
                  background-color: #00ae29;
               }

               &10{
                  background-color: #ffe043;
               }

               &11{
                  background-color: #ff6d21;
               }

               &12{
                  background-color: #cc3aff;
               }

               &13{
                  background-color: #a15326;
               }

               &14{
                  background-color: #d9b340;
               }
            }

            &-checkboxs{
               li{
                  display: flex;

                  &:not(:last-child){
                     margin-bottom: 16px;
                  }

                  .c-checkbox{
                     min-width: 210px;
                  }
               }
            }
         }

         &__rowBot{
            padding: 14px 14px 14px 29px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .u-text-link{
               font-size: 1.6rem;
            }

            &-box{
               display: flex;
               align-items: center;
            }

            &-boxLink{
               margin-right: 77px;
            }

            &-boxTxt{
               font-size: 1.8rem;
               margin-right: 30px;

               span{
                  font-size: 2.2rem;
                  font-weight: bold;
                  color:#ec3e41;
               }
            }
         }
      }

      &-2{
         margin-bottom: 59px;

         .c-list-4{
            margin-bottom: 29px;
         }

         .c-txt-1{
            margin-bottom: 55px;
         }

         .c-list-5{
            margin-bottom: 59px;
         }
      }

      &-3{
         margin-bottom: 46px;

         .c-title-2{
            margin-bottom: 31px;
         }
      }

      &-4{
         margin-bottom: 76px;

         .c-title-1{
            margin-bottom: 45px;
         }

         &__blockTxt{
            &:not(:last-child){
               margin-bottom: 67px;
            }

            .c-title-2{
               margin-bottom: 15px;
            }

            &-content{
               font-size: 1.6rem;

               p{
                  &:not(:last-child){
                     margin-bottom: 42px;
                  }
               }
            }
         }
      }

      &-5{
         .c-title-1{
            margin-bottom: 46px;
         }

         .c-list-2{
            li{
               margin-bottom: 16px;
            }
         }
      }
   }
}